@font-face {
    font-family: 'StateFaceRegular';
    src: url('../fonts/webfont/stateface-regular-webfont.eot');
    src: url('../fonts/webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webfont/stateface-regular-webfont.woff') format('woff'),
    url('../fonts/webfont/stateface-regular-webfont.ttf') format('truetype'),
    url('../fonts/webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 50px;
    background-color: #edeff0;
    font-family: 'Roboto', sans-serif;
}

.containing-template {
    padding-top: 40px;
    text-align: center;
}

/***************************************************************/
/***************************************************************/
/***************************************************************/
/********************* Navigation Styles **********************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
.navbar {
    background-color: #0D4A7F;
}

.navbar-header > a > img {
    width: 5em;
}

.navbar-header > a {
    margin-top: -1em;
}

body > div.navbar.navbar-fixed-top > div > div.collapse.navbar-collapse > ul > a:nth-child(1) > img {
    width: 5em;

}

.navbar-nav > li > a {
    display: inline-block;
}

.navbar > a:hover {
    background-color: #3E78B2;
}

.navbar-nav .active, .navbar-inverse > a {
    background-color: #3E78B2;
}

body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.collapse.navbar-collapse > ul > li.active.text-center > a {
    background-color: #3E78B2;
}

.nav > li > a {
    color: white;
}

div.collapse.navbar-collapse ul li {
    color: white;
}

/***************************************************************/
/***************************************************************/
/***************************************************************/
/********************* /Navigation Styles **********************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/

/***************************************************************/
/***************************************************************/
/***************************************************************/
/********************* Misc Styles *****************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
.inline-block {
    display: inline-block;
}

#sidebar form {
    padding: 0;
}

#sidebar form {
    text-align: left;
    padding-bottom: 2em;
}

#share {
    /*position: fixed;*/
    display: inline-block;

}

h3 {
    display: inline-block;
}

/*filter styles */

#filter > h1 {
    background-color: #337ab7;
    color: white;
}

#filter {
    padding-bottom: 4.5em;
    text-align: left;

}

#filter > div > table > tbody label {
    font-weight: 400;
}

#filter {
    padding-bottom: 2%;
}
.table-responsive {
    overflow: hidden;
    border: 0;
    text-align: left;
    font-weight: 300;
    border-collapse: separate;
}

#dream-home {
    width: 100%;
    margin-top: 0;
}

/*filter styles */
/*Infocard styles*/
.panel-heading a {
    text-decoration: none;
}

#sidebar .panel-heading {
    background-color: #337ab7;
}

.panel {
    margin-top: 1em;
    /*margin-bottom:1.250em;*/
}

.collapsed > a > .panel-body {
    display: none;
}

#bottombar .panel {
    /*max-width:80%;*/
    margin: 1em auto;
}

.item > img {
    width: 100%;
}

#map {
    width: 100%;
    height: 25vh;
}

/***************************************************************/
/***************************************************************/
/***************************************************************/
/********************* Home Cards  *****************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/

#street, #price, #sqft, #short-description {
    display: block;
}

#street {
    font-size: 1.5em;
}

#sold {
    color:tomato;
}

#price {
    font-size: 1.3em;
}

#sqft {
    font-size: 1.1em;
}

#state, #city {
    font-size: .9em;
}
/*fixed variable width card sizes*/
#short-description{
    min-height:4.286em;
    max-height:4.286em;
    overflow:hidden;
}

/***************************************************************/
/***************************************************************/
/***************************************************************/
/********************* /Home Cards  ****************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/

/***************************************************************/
/***************************************************************/
/***************************************************************/
/********************* Media Queries ***************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
@media screen and (max-width: 767px) {
    .thumbnail > img {
        max-width:100%;
        max-height:18.214em;
        min-height:18.214em;
    }
}
@media screen and (max-width: 767px) {
    .table-responsive {
        border: 0;
        overflow: hidden;
        font-weight: 300;
    }

    #filter {
        padding-bottom: 0;
        text-align: left;
        font-weight: 300;
    }

    #filter > label {
        font-weight: 300;

    }
    .infobutton {
        display:none;
    }

}
@media screen and (min-width: 768px){
    .thumbnail > img {
        max-width:100%;
        max-height:18.214em;
        min-height:18.214em;
    }
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 0px) and (max-width: 1900px) {
    #sidebar {
        position: static;
        transition: .5s linear;
        /*background-color:#fff;*/
    }

    #filter {
        padding-bottom: 0;
        text-align: left;
        font-weight: 300;
    }

    .social {
        /*position: fixed;*/
        /*/!*top:1em;*!/*/
        /*right: .5em;*/
        /*bottom: 50%;*/
        /*display: inline-block;*/
        /*width: 8%;*/
        /*height: 5%;*/
        /*margin: 0;*/
        z-index: 999999;
        margin-top: 10px;
        float: right;

    }

    /*.social:active {*/
    /*transition: .2s linear;*/
    /*bottom: 1%;*/
    /*}*/
    .small-hide {
        display: none;
    }


}

@media (min-width: 1200px) {
    .homepage {
        width: 80%;
    }

    .small-hide {
        display: none;
    }

}

@media (max-width: 1550px) {
    blockquote {
        padding-left: 10%;
        border-left: 0;
    }
}

@media (min-width: 1900px) and (min-height: 870px) {

    #sidebar {
        position: fixed;
        width: 19%;
        height: 100%;
        left: .20%;
        /*border-image: url('../img/02.jpg');*/
        /*border-right: .2em solid whitesmoke;*/
        font-size: 1.5em;
        transition: .5s linear;

    }

    #sidebar > .panel {
        /*height:48%;*/
    }

    .small-hide {
        display: inline-block;
    }

    .containing-template {
        /*padding-right: 10em;*/
        text-align: left;
        transition: .5s linear;
    }

    #sidebar > #float input[type='text'], input[type='submit'], button[type='submit'] {
        width: 90%;
        margin: 0 auto;
    }
    .thumbnail > img {
        max-width:100%;
        max-height:18.214em;
        min-height:18.214em;
    }

    /*20% height*/
    /*.social {*/
    /*bottom: 0;*/
    /*height: 5%*/
    /*}*/
    /*15% height*/

}

/***************************************************************/
/***************************************************************/
/***************************************************************/
/********************* Media Queries ***************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/
/***************************************************************/